<!-- Section music -->

<div class="">
  <% if(latests && latests.length){ %>
    <% var ind = 0%>
    <%  latests.forEach(function(latest){ %>

    <div class="row justify-content-center post-row">
      <div class="post-img-container col-lg-4">
        <% if(latest.previewPicture){%>
        <%  var picture = latest.previewPicture.toString();%>
      <%  }else{%>
      <%    var picture = "../images/people/"+latest.author+".jpg";%>
      <%  }%>
        <img class="post-img" src="<%=picture%>" alt="There should be my face">
      </div>
      <div class="post-text-container col-lg-6">
        <div class="post-text">
          <% var number =posts.length + latests.length - ind -1%>
          <p class="post-number">Ep. <%=number%></p>
          <% var dateShort =latest.postDate %>
          <p class="post-date"><%=moment(dateShort).format('DD-MM-YY')%></p>
          <h2 class="post-header"><%=latest.title%></h2>
          <p class="post-preview"><%=latest.preview%>...<a href="/<%=programType %>/<%=stateName%>/posts/<%=latest.id%>">read more</a></p>
          <p class="post-author"><%=latest.author%></p>
        </div>
      </div>
    </div>
    <% ind++%>
  <% }) %>

  <hr class="h-line-programs">

  <%}else{ %>
    <p class="post-error">Non ci sono post</p>
  <%} %>
  </div>

  <!-- <div class="row card-row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Titolo del post</h5>
        <p class="card-text post-preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ...<a href="">read more</a></p>
        <h6 class="card-subtitle mb-2 text-muted">Episode 24 - 31 giugno 2020</h6>
      </div>
    </div>
  </div> -->
  <!-- <hr class="h-line-programs"> -->
  <div class="">

    <% if(posts && posts.length){%>

    <% ind = 0%>
    <%  posts.forEach(function(post){ %>

      <div class="row card-post-row">
        <div class="card-post col-lg-10">
          <div class="card-body card-post">
            <h5 class="card-title"><%= post.title%></h5>
            <p class="card-text post-preview"><%= post.preview%>...<a href="/<%=programType %>/<%=stateName%>/posts/<%=post.id%>">read more</a></p>
            <% var pos = posts.length - ind -1%>
            <h6 class="card-subtitle mb-2 text-muted">Episode <%=pos %> - <%=moment(post.postDate).format('DD-MM-YY') %></h6>
          </div>
        </div>
      </div>

      <% ind++%>
      <% }) %>
      <% } %>
  </div>

  <!-- <hr class="h-line-programs"> -->

</section>
