<%- include("partials/header", {pageTitle:"Chi siamo", stateName: "about"}); %>
<%- include("partials/navbar-about", {pageTitle:"Chi siamo"}); %>



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <!-- <link href="/css/carousel.css" rel="stylesheet"> -->
<!--
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Carousel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header> -->

<main role="main">

  <div class="people-header">
    <h3 class="people-title">La nostra storia</h3>
  </div>
  <hr class="h-line-people">
  <div class="row featurette justify-content-center people-description-div">
    <div class="col-sm-6">
      <p class="futu-story-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit ut tortor pretium viverra suspendisse. Enim tortor at auctor urna. Vitae congue mauris rhoncus aenean vel elit scelerisque. Integer eget aliquet nibh praesent tristique. Ac tortor vitae purus faucibus ornare suspendisse. Consectetur a erat nam at. Ultricies integer quis auctor elit sed vulputate mi sit. Convallis a cras semper auctor neque vitae tempus quam. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Massa tincidunt dui ut ornare lectus sit amet. Cras sed felis eget velit. Blandit cursus risus at ultrices mi tempus imperdiet. Ut tellus elementum sagittis vitae et leo. A lacus vestibulum sed arcu non odio euismod lacinia. Fringilla ut morbi tincidunt augue interdum velit. At lectus urna duis convallis convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Feugiat scelerisque varius morbi enim. Integer enim neque volutpat ac. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Senectus et netus et malesuada fames ac. Malesuada fames ac turpis egestas. Vitae congue eu consequat ac. Ultricies lacus sed turpis tincidunt. Amet nulla facilisi morbi tempus iaculis urna id volutpat lacus. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Platea dictumst quisque sagittis purus sit. Mattis aliquam faucibus purus in massa tempor nec feugiat nisl.</p>
    </div>
  </div>


  <div class="people-header">
    <h3 class="people-title">Le nostre persone</h3>
  </div>



    <!-- START THE FEATURETTES -->

    <!-- <hr class="featurette-divider">

    <div class="row featurette justify-content-center">
      <div class="col-md-7">
        <h2 class="featurette-heading">Sarzo</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-2 img-featurette-container">
        <img class="about-img-right featurette-image" src="/images/sarzo.jpg" alt="There should be my face">
      </div>
    </div> -->

    <% if(users && users.length){%>
    <%  users.forEach(function(user){ %>
      <% if(user.toBeShown==true){%>
<hr class="h-line-people">
      <div class="row featurette justify-content-center people-description-div">
        <div class="col-sm-2 img-featurette-container">
          <img class="about-img-left featurette-image" src="<%=user.pictureUrl.substring(2)%>" alt="There should be my face">

              <div class="people-social">
                <%if(user.facebook.length){%>
                  <a class="footer-link" href="https://www.instagram.com/<%=user.facebook%>"><img class="img-footer" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""></a>
                <%}%>
                <%if(user.instagram.length){%>
                  <a class="footer-link" href="https://www.instagram.com/<%=user.instagram%>"><img class="img-footer" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" alt=""></a>
                <%}%>
              </div>



        </div>
        <div class="col-sm-4">
          <h2 class="featurette-heading"><%=user.nickName%></h2>
          <p class="lead"><%=user.description%></p>
        </div>
      </div>

      <% } %>
    <% }) %>
    <% } %>

    <!-- <hr class="featurette-divider"> -->

</main>
<%- include("partials/footer"); %>
