
<%- include("partials/header", {pageTitle: showName}); %>
<%- include("partials/navbar-program", {pageTitle:showName}); %>

<section id="description-section">
  <!-- <hr class="h-line-programs"> -->
  <div class="profile">
    <img class="pic-me" src="/images/people/<%= showMan %>.jpg" alt="There should be my face">
    <h2 class="profile-header">Cos'è <%= showName %>?</h2>
    <p class="hello-p"><%= showDescription %></p>
  </div>
  <hr class="h-line-programs">
</section>

<!-- Section Podcasts -->
<section id="podcasts">
  <div class="lastEps">
    <h3 class="episode-title">Ultimi appuntamenti</h3>
  </div>

  <section id="music">

  <%- include("partials/blog",{stateName: stateName, latests: latestPost, posts: oldPosts, showMan: showMan, programType: pType}); %>

<%- include("partials/footer"); %>
