<%- include("partials/header-console", {pageTitle:"Console"}); %>
<%- include("partials/navbar-console"); %>



<main role="main" class="col-md-9 main-div col-lg-10 pt-3 px-4">


  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../../images/logos/futuicon.png" alt="" width="72" height="72">
      <h2>Modifica il tuo post</h2>
    </div>

    <div id="postInfo" class="">
        <p><b>Nome:</b> <%=post.title%></p>
        <p><b>Preview:</b> <%=post.preview%></p>
        <p><b>Contenuto:</b> <%=post.content%></p>
        <p><b>Immagine di copertina:</b></p>

        <div class="col-md-3">
          <img src="<%=post.previewPicture.substring(2)%>" alt="" width="100%">
          <!-- <div class="">
            <a class="btn btn-link img-delete" href="" role="button"><span data-feather="trash-2"></span> Modifica</a>
          </div> -->
        </div>

    </div>
    <div class="img-preview">
      <% if(images.length){%>
        <p><b>Immagini del post:</b></p>
      <div class="row row-cols-1 row-cols-md-3">

        <%  images.forEach(function(image){ %>
        <div class="col mb-4">
          <div class="card">
            <img src="<%=image.imgPath.substring(2)%>" class="card-img-top" alt="..." height="120">
            <!-- <div class="card-body">
              <a class="btn btn-link" href="" role="button"><span data-feather="trash-2"></span></a>
            </div> -->
          </div>
        </div>
        <% }); %>


      </div>
      <% } %>
    </div>


    <hr class="featurette-divider">
    <div class="py-5 text-center">
      <h2>Modifica il tuo post</h2>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Iniziamo</h4>

        <form class="needs-validation" novalidate id="edit-post-form" action="<%= post.id%>" method="POST" enctype="multipart/form-data">


          <div class="mb-3">
            <label for="programName">Titolo del post</label>
            <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="" value="" required>
            <div class="invalid-feedback">
              Nome del programma obbligatorio.
            </div>
          </div>

          <div class="mb-3">
            <label>Anteprima</label>
            <textarea class="form-control richTextArea" name="postPreview" id="postPreview" rows="5" cols="30"></textarea>
            <div class="invalid-feedback">
              Inserisci la anteprima. Apparirà sulla tua pagina!
            </div>
          </div>

          <% if(pageType=="blog"){%>
          <div class="mb-3" >
            <label>Contenuto</label>
            <textarea class="form-control richTextArea" name="postContent" id="postContent" rows="8" cols="30"></textarea>
            <div class="invalid-feedback">
              Inserisci il contenuto. Apparirà sulla tua pagina!
            </div>
          </div>
            <% }%>

          <div class="mb-3" <label for="preview">Scegli l'immagine di anteprima</label>
            <div class="">
              <input type="file" class="" id="preview" name="preview" required>
            </div>
          </div>

          <% if(pageType=="blog"){%>
          <div class="mb-3" <label for="preview">Carica le immagini nella galleria</label>
            <div class="">
              <input type="file" class="" id="pics" name="pics" multiple>
            </div>
          </div>
          <% }%>

          <hr class="mb-4">
          <button class=" btn btn-primary btn-lg btn-block" type="submit">Modifica il tuo post</button>


      </form>
      </div>
    </div>



  </div>


  <hr class="featurette-divider">








</main>





<script src="/js/editPost.js"></script>

</body>

</html>
