<%- include("partials/header-console", {pageTitle:"Console"}); %>
<%- include("partials/navbar-console"); %>



        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Gestisci le tue pagine</h2>
    <p class="lead">In questa sezione potrai gestire le tue pagine.</p>
  </div>

  <div id="postInfo" class="">
    <div class="card-body">
      <p><b>Nome:</b> <%=post.title%></p>
      <p><b>Contenuto:</b> <%=post.content%></p>
      <p><b>Immagine di copertina:</b> <%=post.previewPicture%></p>
      <img src="<%=post.previewPicture.substring(2)%>" alt="" height="120">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="py-5 text-center">
    <h2>Modifica il tuo post</h2>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate action="/" method="POST" id="update-post-info">

        <div class="mb-3">
          <label>Titolo</label>
          <input class="form-control" name="title" id="title"></input>
          <div class="invalid-feedback">
            Inserisci il titolo del post.
          </div>
        </div>

        <div class="mb-3">
          <label>Contenuto</label>
          <textarea class="form-control" name="content" rows="5" cols="30" id="content"></textarea>
          <div class="invalid-feedback">
            Inserisci il testo.
          </div>
        </div>

        <hr class="mb-4">
          <button class=" btn btn-primary btn-lg btn-block" type="submit">Aggiorna le informazioni della pagina</button>


      </form>
    </div>
  </div>

<hr class="featurette-divider">



  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

<script src="form-validation.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

    //hides dropdown content
    $(".url-text").hide();

    //unhides first option content
    $("#option1").show();

    //listen to dropdown for change
    $("#program-sel").change(function() {
      //rehide content on change
      $('.url-text').hide();
      //unhides current item
      $('#' + $(this).val()).show();
    });

  });
</script>


        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script> -->

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>

    <script src="/js/pages.js"></script>

  </body>
</html>
