<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Futuradio</title>

  <!-- Bootstrap CSS stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Owl carousel -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

  <!-- My css stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/home-style.css">
  <link rel="stylesheet" href="/css/program-style.css">
  <link rel="stylesheet" href="/css/login-style.css">
  <link rel="stylesheet" href="/css/post-style.css">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/nuovo-css-home.css">


  <!-- favicon -->
  <link rel="icon" href="/images/logos/favicon.ico">

  <!-- bootstrap scripts -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
  <script src="/js/slick.js"></script>

  <!-- <script src="js/custom.js"></script> -->
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

  <style>
    .program-navbar {
      background-image: url(../images/pages/home-banner-mobile.jpg);
    }

    @media all and (min-width: 35em) {
      .program-navbar {
        background-image: url(../images/pages/home-banner.jpg);
      }
    }
  </style>

</head>


<body class="body-home">
  <section class="navbar-section" id="homepage-navbar">

    <div class="container-fluid navbar-container">


      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-home ">
        <a class="navbar-brand" href="/">
          <img src="/images/logos/logo_oriz_cut.png" class="d-inline-block align-middle logo-navbar" alt="logo_oriz.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown nav-droplist">

              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Le voci
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/shows/all-inclusive">All Inclusive</a>
                <a class="dropdown-item" href="/shows/casa-sarzilla">Casa Sarzilla</a>
                <a class="dropdown-item" href="/shows/retro-zone">Retro' Zone</a>
              </div>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/shows/casa-cava">Casa Cava</a>
            </div> -->
            </li>
            <li class="nav-item dropdown nav-droplist">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                I suoni
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/mixes/l-indiescreto">L'Indiescreto</a>
                <a class="dropdown-item" href="/mixes/futu-tech-room">Futu Tech Room</a>
                <a class="dropdown-item" href="/mixes/heaven-to-hell">Heaven to hell</a>
              </div>
            </li>


            <li class="nav-item dropdown nav-droplist">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Le parole
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/blogs/andem-a-spass">Andèm a spass!</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Le Persone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/console/login">Login</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

    <!-- <div class="container-fluid title-container">
    <div class="title-div-new"> -->

    <!-- Title -->
    <!-- <div class="row"> -->
    <!-- <div class="title-text-new">

      </div> -->
    <!-- <div class="btn-container">
        <p class="btn-text">Download our app</p>
        <button type="button" class="btn btn-outline-light btn-lg dwn-btn"><i class="fab fa-apple"></i> Download</button>
        <button type="button" class="btn btn-outline-light btn-lg dwn-btn"><i class="fab fa-google-play"></i> Download</button>
      </div> -->
    <!--  -->
    <!-- </div>
  </div> -->
  </section>


  <!-- Contenuti -->

  <section id="menu-section">

    <div class="myPrograms align-items-center">
      <h3 class="programs-title-new">I nostri contenuti</h3>
      <hr class="title-hr">
    </div>

    <div class="btn-container">
      <div class="menu-container btn-toolbar">
        <div class="shows-menu btn-group">
          <button class="btn menu-button" data-filter="*">Tutti</button>
          <button class="btn menu-button" data-filter=".show">Le voci</button>
          <button class="btn menu-button" data-filter=".mix">I suoni</button>
          <button class="btn menu-button" data-filter=".blog">Le parole</button>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="row">
        <% if(shows && shows.length){%>
        <%  shows.forEach(function(show){ %>
        <div class="col-12 col-md-6 menu-item show">
          <div class="item-container">
            <div class="item-thumbnail align-items-center">
              <a href="shows/<%=show.stateName%>"><img class="img-item-new" src="/images/pages/<%=show.stateName%>.png" alt=""></a>
            </div>
            <!-- <div class="item-content text-center">
            <h3>con Sarzo</h3>
          </div> -->

          </div>
          <!-- <hr class="hr-homepage-cards"> -->
        </div>

        <% }) %>
        <% } %>

        <% if(mixes && mixes.length){%>
        <%  mixes.forEach(function(mix){ %>
        <div class="col-12 col-md-6 menu-item mix">
          <div class="item-container">
            <div class="item-thumbnail align-items-center">
              <a href="mixes/<%=mix.stateName%>"><img class="img-item-new" src="/images/pages/<%=mix.stateName%>.png" alt=""></a>
            </div>
            <!-- <div class="item-content text-center">
            <h3>con Sarzo</h3>
          </div> -->

          </div>
          <!-- <hr class="hr-homepage-cards"> -->
        </div>
        <% }) %>
        <% } %>

        <% if(blogs && blogs.length){%>
        <%  blogs.forEach(function(blog){ %>
        <div class="col-12 col-md-6 menu-item blog">
          <div class="item-container">
            <div class="item-thumbnail align-items-center">
              <a href="blogs/<%=blog.stateName%>"><img class="img-item-new" src="/images/pages/<%=blog.stateName%>.png" alt=""></a>
            </div>
            <!-- <div class="item-content text-center">
            <h3>con Sarzo</h3>
          </div> -->

          </div>
          <!-- <hr class="hr-homepage-cards"> -->
        </div>
        <% }) %>
        <% } %>
      </div>

    </div>
  </section>
  <hr class="title-hr">
  <section id="about-us">

    <div class="carousel-home-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" id="carousel-item-1">
            <!-- <img src="/images/pages/home-slider-1.jpg" class="d-block w-100" alt="..."> -->
            <div class="item-text-div ">
            </div>

          </div>
          <div class="carousel-item" id="carousel-item-2">
            <!-- <img src="/images/pages/home-slider-2.jpg" class="d-block w-100" alt="..."> -->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>


  </section>




  <script src="/js/menu.js"></script>

  <!-- Section social -->
  <section id="social">
    <div class="bottom-container">
      <p class="p-footer">Follow us on</p>
      <a class="footer-link" href="https://www.facebook.com/FutuRadioWeb/"><img class="img-footer" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""></a>
      <a class="footer-link" href="https://www.instagram.com/futuradio/"><img class="img-footer" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1024px-Instagram_logo_2016.svg.png" alt=""></a>
    </div>
  </section>

</body>

</html>
