<%- include("partials/header", {pageTitle:"FutuRadio"}); %>
<%- include("partials/navbar-home-new", {pageTitle:"FutuRadio",pageSubTitle: "La radio del futuro", showList: shows}); %>


<!-- Contenuti -->

<section id="menu-section">

  <div class="myPrograms align-items-center">
    <h3 class="programs-title-new">I nostri contenuti</h3>
    <hr class="title-hr">
  </div>

  <div class="btn-container">
    <div class="menu-container btn-toolbar">
      <div class="shows-menu btn-group">
        <button class="btn menu-button" data-filter="*">Tutti</button>
        <button class="btn menu-button" data-filter=".show">Le Voci</button>
        <button class="btn menu-button" data-filter=".mix">I Suoni</button>
        <button class="btn menu-button" data-filter=".blog">Le Parole</button>
      </div>
    </div>
  </div>

  <div class="gallery-container">
    <div class="row">
      <% if(shows && shows.length){%>
      <%  shows.forEach(function(show){ %>
        <div class="col-12 col-md-6 menu-item show">
        <div class="item-container">
          <div class="item-thumbnail align-items-center">
            <a href="shows/<%=show.stateName%>"><img class="img-item-new" src="/images/shows/<%=show.stateName%>.png" alt=""></a>
          </div>
          <!-- <div class="item-content text-center">
            <h3>con Sarzo</h3>
          </div> -->

        </div>
        <!-- <hr class="hr-homepage-cards"> -->
      </div>

      <% }) %>
      <% } %>

      <% if(mixes && mixes.length){%>
      <%  mixes.forEach(function(mix){ %>
      <div class="col-12 col-md-6 menu-item mix">
        <div class="item-container">
          <div class="item-thumbnail align-items-center">
            <a href="mixes/<%=mix.stateName%>"><img class="img-item-new" src="/images/mixes/<%=mix.stateName%>.png" alt=""></a>
          </div>
          <!-- <div class="item-content text-center">
            <h3>con Sarzo</h3>
          </div> -->

        </div>
        <!-- <hr class="hr-homepage-cards"> -->
      </div>
      <% }) %>
      <% } %>

      <% if(blogs && blogs.length){%>
      <%  blogs.forEach(function(blog){ %>
      <div class="col-12 col-md-6 menu-item blog">
        <div class="item-container">
          <div class="item-thumbnail align-items-center">
            <a href="blogs/<%=blog.stateName%>"><img class="img-item-new" src="/images/blogs/<%=blog.stateName%>.png" alt=""></a>
          </div>
          <!-- <div class="item-content text-center">
            <h3>con Sarzo</h3>
          </div> -->

        </div>
        <!-- <hr class="hr-homepage-cards"> -->
      </div>
      <% }) %>
      <% } %>
    </div>

  </div>
</section>
<section id="about-us">
  <div class="jumbotron">

  </div>
</section>










<%- include("partials/footer"); %>
